{% extends 'base.html.twig' %}

{% block body %}
    <header class="header">
        <h1 class="mainTitle">Neoma'round the world</h1>
        <p class="slogan">Grow up and live new experiences</p>
    </header>

    <div class="burger"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('country') }}">Country</a></li>
        <li><a href="https://neoma-bs.fr/" target="_blank">Neoma BS</a></li>
        <li>{% if app.user %}
                 {{ app.user.email }}
                 <a href="{{ path('app_logout') }}"> Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}"> Login</a>
            {% endif %}</li>
      </ul>
    </div>
    
    <div id="mapid"></div>

    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoiYWRlbGluZWI1MSIsImEiOiJja2loOWdlcmswNWNnMnptd2Jvb3l6MDA3In0.XbM3nj9P9Gd0daPf7tt4sg';
        var map = L.mapbox.map('mapid')
            .setView([29.400000, 15.678929], 2.61);
        
        L.mapbox.styleLayer('mapbox://styles/adelineb51/ckihb8xxq6djh19pmrtegcu7o').addTo(map);
        
        var marker = L.marker([49.23840602490704, 4.003347257434664]).addTo(map);
        
        var circle = L.circle([49.25, 4.0333], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 3000
                }).addTo(map);
        
                marker.bindPopup("<b>NEOMA BS Reims</b><br>Welcome to <b><a href=https://neoma-bs.fr/>Neoma BS!</a></b>").openPopup();
        
                circle.bindPopup("Welcome to Reims city");
        </script>


{% endblock %}
