{% extends 'base.html.twig' %}

{% block body %}
<body onload="window.location.href = '#openModal';">
    <header class="header">
        <p class="slogan">Grow up and live new experiences</p>
    </header>

    <div id="openModal" class="modalDialog">
        <div>
            <h3>This application has TCU</h3>
            <p>To continue on this application, please accept the terms and conditions of use.</p>
            <a href="" class="close" >See more</a>
            <a href="#close" title="Close" class="close">I accept the TCU</a>
        </div>
    </div>

    <div class="burger"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="https://neoma-bs.fr/" target="_blank">Neoma BS</a></li>
        <li>{% if app.user %}
                 {{ app.user.email }}
                 <a href="{{ path('app_logout') }}"> Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}"> Login</a>
            {% endif %}</li>
      </ul>
    </div>
    <button class="login"><a href ="{{path('app_login')}}"><img class="avatar" src="/build/images/login.1cdcfe7a.png"></a></button>

    <div id="mapid"></div>

    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoiYWRlbGluZWI1MSIsImEiOiJja2loOWdlcmswNWNnMnptd2Jvb3l6MDA3In0.XbM3nj9P9Gd0daPf7tt4sg';
        var map = L.mapbox.map('mapid')
            .setView([29.400000, 15.678929], 2.61);
        
        L.mapbox.styleLayer('mapbox://styles/adelineb51/ckihb8xxq6djh19pmrtegcu7o').addTo(map);
        
        {% for country in countries %}
            const country{{ country.id }} = L.marker([ {{country.latitude}},{{country.longitude}}])
                .bindPopup("<b><a href=country/{{ country.id }}/><img class=image_popup src={{ country.image }}></a></b>")
                .addTo(map);
        {% endfor %}
        {% for university in universities %}
            const university{{ university.id }} = L.circle([ {{university.latitude}},{{university.longitude}}],10000, 
                                                  { color:'red',
                                                    fillColor: '#f03',
                                                    fillOpacity: 0.5 })
                .bindPopup("<b><a href=university/{{ university.id}}/>{{ university.name }}</a></b>")
                .addTo(map);
        {% endfor %}
        </script>
</body>
{% endblock %}
