{% extends 'base.html.twig' %}

{% block body %}
<body onload="window.location.href = '#openModal';">
    <header class="header">
        <p class="slogan">Grow up and live new experiences</p>

<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      <ul id="menu">
        <li><a href="{{ path('home') }}"><img class="logoburger" src="{{ asset('build/images/logo.png') }}"></a></li>

          <li><a href="{{ path('home') }}"><img class="imgburger" src="{{ asset('build/images/home.png') }}">Home</a></li>
          <li><a href="{{ path('home') }}"><img class="imgburger" src="{{ asset('build/images/social.png') }}">Social Networks</a></li>
          <li><a href="{{ path('cgu') }}"><img class="imgburger" src="{{ asset('build/images/parameter.png') }}">Settings</a></li>          
          <li><a href="https://neoma-bs.fr/" target="_blank"><img class="imgburger" src="{{ asset('build/images/more.png') }}">About us</a></li>
          <li>{% if app.user %}
              {{ app.user.email }}
            <a href="{{ path('app_logout') }}"><img class="imgburger" src="{{ asset('build/images/logout.png') }}">Logout</a>
              {% else %}
            <a href="{{ path('app_login') }}"><img class="imgburger" src="{{ asset('build/images/logout.png') }}"> Login</a>
              {% endif %}</li>
      </ul>
  </div>
</nav>
      
    <a href="{{path('app_login')}}"><img class="avatar" src="{{ asset('build/images/login.png') }}" alt=""></a>

    <div id="mapid"></div>
    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoibWFzc2JzcXRzIiwiYSI6ImNraWlyNGJhaDFmc3oyeXF1ajhua252MzUifQ.YPSJsoDm30aRVc6yxYUW8A';
        var map = L.mapbox.map('mapid')
            .setView([29.400000, 15.678929], 2.61);
        
        L.mapbox.styleLayer('mapbox://styles/massbsqts/ckk6o02eg0vvo17pna2aqgxmc').addTo(map);
        
        {% for country in countries %}

            const country{{ country.id }} = L.marker([ {{country.latitude}},{{country.longitude}}])
                .bindPopup("<b><a href=country/{{ country.id }}/><img class=image_popup src={{ country.image }}></a></b>")
                .addTo(map);
        {% endfor %}
        {% for university in universities %}
            const university{{ university.id }} = L.circle([ {{university.latitude}},{{university.longitude}}],30000, 
                                                  { color:'red',
                                                    fillColor: '#f03',
                                                    fillOpacity: 0.5 })
                .bindPopup("<b>{{ university.name }}<a href=university/{{ university.id}}/><img class=image_popup src={{ university.image }}></a></b>")
                .addTo(map);
        {% endfor %}
    </script>
</body>
{% endblock %}
