{% extends 'base.html.twig' %}

{% block body %}
<body onload="window.location.href = '#openModal';">
    <header class="header">
        <p class="slogan">Grow up and live new experiences</p>

    <div id="openModal" class="modalDialog">
        <div>
            <h3>This application has TCU</h3>
            <p>To continue on this application, please accept the terms and conditions of use.</p>
            <a href="{{ path ('cgu')}}" class="close" >See more</a>
            <a href="#close" title="Close" class="close">I accept the TCU</a>
        </div>
    </div>

<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      <ul id="menu">
          <li><a href="{{ path('home') }}">Home</a></li>
          <li><a href="https://neoma-bs.fr/" target="_blank">Neoma BS</a></li>
          <li>{% if app.user %}
              {{ app.user.email }}
            <a href="{{ path('app_logout') }}"> Logout</a>
              {% else %}
            <a href="{{ path('app_login') }}"> Login</a>
              {% endif %}</li>
      </ul>
  </div>
</nav>
      
    <a href="{{path('app_login')}}"><img class="avatar" src="{{ asset('build/images/login.png') }}" alt=""></a>

    <div id="mapid"></div>
    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoibWFzc2JzcXRzIiwiYSI6ImNraWlyNGJhaDFmc3oyeXF1ajhua252MzUifQ.YPSJsoDm30aRVc6yxYUW8A';
        var map = L.mapbox.map('mapid')
            .setView([29.400000, 15.678929], 2.61);
        
        L.mapbox.styleLayer('mapbox://styles/massbsqts/ckk6o02eg0vvo17pna2aqgxmc').addTo(map);
        
        {% for country in countries %}

            const country{{ country.id }} = L.marker([ {{country.latitude}},{{country.longitude}}])
                .bindPopup("<b><a href=country/{{ country.id }}/><img class=image_popup src={{ country.image }}></a></b>")
                .addTo(map);
        {% endfor %}
        {% for university in universities %}
            const university{{ university.id }} = L.circle([ {{university.latitude}},{{university.longitude}}],1000, 
                                                  { color:'red',
                                                    fillColor: '#f03',
                                                    fillOpacity: 0.5 })
                .bindPopup("<b><a href=university/{{ university.id}}/>{{ university.name }}</a></b>")
                .addTo(map);
        {% endfor %}
    </script>
</body>
{% endblock %}
