{% extends 'base.html.twig' %}
{% block title %}{{ country.name }}{% endblock %}

{% block body %}
<style>

</style>
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      <ul id="menu">
          <li><a href="{{ path('home') }}">Home</a></li>
          <li><a href="{{ path('home') }}">Social Networks</a></li>
          <li><a href="{{ path('cgu') }}">Settings</a></li>          
          <li><a href="https://neoma-bs.fr/" target="_blank">About us</a></li>
          <li>{% if app.user %}
              {{ app.user.email }}
            <a href="{{ path('app_logout') }}"> Logout</a>
              {% else %}
            <a href="{{ path('app_login') }}"> Login</a>
              {% endif %}</li>
      </ul>
  </div>
</nav>

<div class="media-body">
    <h1>Welcome to {{ country.name }}</h1>
</div>

<img class="country_image" src="{{ country.image }}">
<div class="example-wrapper">
	<nav class="bottombar">
  <div class="iconbar">
    <a href="{{ path("cost_show", { id: country.id }) }}"><img src="{{ asset('build/images/cost.png') }}" alt=""></a>
    <a href="{{ path("live_show", { id: country.id }) }}"><img src="{{ asset('build/images/live.png') }}" alt=""></a>
    <a href="{{ path("opinions_show", { id: country.id }) }}"><img src="{{ asset('build/images/opinions.png') }}" alt=""></a>
  </div>
	</nav>
{% endblock %}