{% extends 'base.html.twig' %}
{% block title %}{{ country.name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 90%; font: 18px/1.5 sans-serif;  }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .example-wrapper h1 { display:flex; justify-content: center; border: solid 2px;border-radius:5px; box-shadow:10px 5px 5px grey;}

</style>

<div class="media">
  <div class="media-body">
    <ul>
      <li>{{ country.name }}</li>
    </ul>
  </div>
</div>

<img class="germany" src="{{ asset('build/images/Germany.jpeg') }}">
<div class="example-wrapper">
  <h1>Costs</h1>
    <p>Average cost in this country for:</p>
    <p>Food is around {{ cost.food }}.</p>
    <p>Transport during your stay will be {{ cost.transport }}.</p>
    <p>Accomodation can be like {{ cost.accomodation }}.</p>
    <p>Various extras like sport practice, social activities, etc... is most around {{ cost.extra }}.</p>

  <h1>Live</h1>
    <p>{{ live.culture }}</p>
    <p>{{ live.life }}</p>

  <h1>Opinion</h1>
    <p>{{ opinion.advice }}</p>
    <p><a href="{{ opinion.interview }}" target="_blank">Interview</a></p>
<div>
<a href="{{ path('country') }}">
    Back to country list
</a>

{% endblock %}