{% extends 'base.html.twig' %}
{% block title %}Country{{ country.id }}{% endblock %}

{% block body %}

<div class="media">
  <div class="media-body">
    <ul>
      <li>{{ country.name }}</li>
    </ul>
  </div>
</div>
<h1>Costs</h1>
<p>Average cost for food in this country is about {{ cost.food }}.</p>
<p>Average cost for transport during the journey is about {{ cost.transport }}.</p>
<p>Average cost for accomodation is about {{ cost.accomodation }}.</p>
<p>Average cost for various extras is about {{ cost.extra }}.</p>
<h1>Live</h1>
<p>{{ live.culture }}</p>
<p>{{ live.life }}</p>
<h1>Opinion</h1>
<p>{{ opinion.advice }}</p>
<p><a href="{{ opinion.interview }}" target="_blank">Interview</a></p>

<a href="{{ path('country') }}">
    Back to country list
</a>

{% endblock %}