{% extends 'base.html.twig' %}
{% block title %}{{ country.name }}{% endblock %}

{% block body %}
<style>

</style>

<div class="media">
  <div class="media-body">
    <ul>
      <li>{{ country.name }}</li>
    </ul>
  </div>
</div>

<img class="country_image" src="{{ country.image }}">
<div class="example-wrapper">
  {# <h1>Costs</h1>
    <p>Average cost in this country for:</p>
    <p>Food is around {{ cost.food }} €.</p>
    <p>Transport during your stay will be {{ cost.transport }} €.</p>
    <p>Accomodation can be like {{ cost.accomodation }} €.</p>
    <p>Various extras like sport practice, social activities, etc... is most around {{ cost.extra }} €.</p> #}
	<nav class="bottombar">
  <div class="iconbar">
    <a href="{{ path("cost_show", { id: country.id }) }}"><img src="{{ asset('build/images/cost.png') }}" alt=""></a>
    <a href="{{ path("live_show", { id: country.id }) }}"><img src="{{ asset('build/images/live.png') }}" alt=""></a>
    <a href="{{ path("opinions_show", { id: country.id }) }}"><img src="{{ asset('build/images/opinions.png') }}" alt=""></a>
  </div>
	</nav>

  {# <h1>Live</h1>
    <p>{{ live.culture }}</p>
    <p>{{ live.life }}</p>

  <h1>Opinions</h1>

    <p>{{ opinion.advice }}</p>
    <p>{{ opinion.interview }}</p> #}
  
  {# <button class="button"><a href="{{ path('home') }}">Back home</a></button> #}
    
{% endblock %}