{% extends 'base.html.twig' %}

{% block title %}{{ university.name }}{% endblock %}

{% block body %}
    <h1>{{ university.name }}</h1>

    <img src="{{ university.image }}">
     
    <p>{{ university.description }}</p>

    <a href="{{ path('home') }}">Back</a>
{% endblock %}
