{% extends 'base.html.twig' %}

{% block body %}
<style>

</style>

  {# <h1>Live</h1>
    <p>{{ live.culture }}</p>
    <p>{{ live.life }}</p>

  <h1>Opinions</h1>

    <p>{{ opinion.advice }}</p>
    <p>{{ opinion.interview }}</p> #}
  
  {# <button class="button"><a href="{{ path('home') }}">Back home</a></button> #}
    
{% endblock %}