{% extends 'base.html.twig' %}

{% block body %}
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      <ul id="menu">
          <li><a href="{{ path('home') }}">Home</a></li>
          <li><a href="{{ path('home') }}">Social Networks</a></li>
          <li><a href="{{ path('cgu') }}">Settings</a></li>          
          <li><a href="https://neoma-bs.fr/" target="_blank">About us</a></li>
          <li>{% if app.user %}
              {{ app.user.email }}
            <a href="{{ path('app_logout') }}"> Logout</a>
              {% else %}
            <a href="{{ path('app_login') }}"> Login</a>
              {% endif %}</li>
      </ul>
  </div>
</nav>

<div class="opinion">
<h1>Opinions</h1>
<h2>All the advices</h2>
    <img class="template_image" type="image/png" src="{{ asset('build/images/opinion_advice.png') }}" />
{% for opinion in opinions %}
    <p>"{{ opinion.advice }}"</p>
{%  endfor %}
    <h2>All the interviews</h2>
    <img class="template_image" type="image/png" src="{{ asset('build/images/opinion_interview.png') }}" />
{% for opinion in opinions %}
    <p><a href="{{ opinion.interview }}" target="blank">Interview</a></p> 
{% endfor %}
</div> 
{% if app.user %}
<h4>Add your opinion</h4>
 {{ include ('opinion/_form.html.twig')}}
{% endif %}
{% endblock %}