{% extends 'base.html.twig' %}


{% block body %}
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      <ul id="menu">
          <li><a href="{{ path('home') }}">Home</a></li>
          <li><a href="{{ path('home') }}">Social Networks</a></li>
          <li><a href="{{ path('cgu') }}">Settings</a></li>          
          <li><a href="https://neoma-bs.fr/" target="_blank">About us</a></li>
          <li>{% if app.user %}
              {{ app.user.email }}
            <a href="{{ path('app_logout') }}"> Logout</a>
              {% else %}
            <a href="{{ path('app_login') }}"> Login</a>
              {% endif %}</li>
      </ul>
  </div>
</nav>

<div class="cost">
<h1>Costs</h1>
    <p>The average cost in this country during a trip for :</p>
    <h2>Food</h2>
    <img class="template_image" type="image/png" src="{{ asset('build/images/cost_food.png') }}" />
    <p>Food is around {{ cost.food }} €.</p>
    <h2>Transport</h2>
    <img class="template_image" type="image/png" src="{{ asset('build/images/cost_transport.png') }}" />
    <p>Transport during your stay will be {{ cost.transport }} €.</p>
    <h2>Accomodation</h2>
    <img class="template_image" type="image/png" src="{{ asset('build/images/cost_accomodation.png') }}" />
    <p>Accomodation can be like {{ cost.accomodation }} €.</p>
    <h2>Extras</h2>
    <img class="template_image" type="image/png" src="{{ asset('build/images/cost_extras.png') }}" />
    <p>Various extras like sport practice, social activities, etc... is most around {{ cost.extra }} €.</p>
</div>
{% endblock %}