{% extends 'base.html.twig' %}

{% block title %}Terms and Conditions of Use{% endblock %}

{% block body %}
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      <ul id="menu">
      <div class="borderburger">
      </div>
        <li><a href="{{ path('home') }}"><img class="logoburger" src="{{ asset('build/images/logo.png') }}"></a></li>
      <div class="borderburger2">{% if app.user %}<img src="{{ asset('build/images/Massinta.jpeg') }}" alt=""> {{app.user.name}} {% endif %}</div>

          <li><a href="{{ path('home') }}"><img class="imgburger" src="{{ asset('build/images/home.png') }}">Home</a></li>
          <li><a href="{{ path('home') }}"><img class="imgburger" src="{{ asset('build/images/social.png') }}">Social Networks</a></li>
          <li><a href="{{ path('cgu') }}"><img class="imgburger" src="{{ asset('build/images/parameter.png') }}">Settings</a></li>          
          <li><a href="https://neoma-bs.fr/" target="_blank"><img class="imgburger" src="{{ asset('build/images/more.png') }}">About us</a></li>
          <li>{% if app.user %}
            <a href="{{ path('app_logout') }}"><img class="imgburger" src="{{ asset('build/images/logout.png') }}">Logout</a>
              {% else %}
            <a href="{{ path('app_login') }}"><img class="imgburger" src="{{ asset('build/images/logout.png') }}"> Login</a>
              {% endif %}</li>
      </ul>
  </div>
</nav>

<div class="cgu">
<h1>Terms and Conditions of Use</h1>

<h3>Purpose of the document</h3>

<p>This document describes the terms and conditions under which you must use the Service through our
mobile application. If you choose to use the service (even partially), it means that
you accept these conditions after having read them, and that you commit yourself to them.
respect.
NEOMA'Round The World reserves the right to modify unilaterally and at any time
the content of these TOU, always informing users of such changes.</p>

<h3>Description of the service</h3>

<p>The NEOMA'Round The World service, accessible on smartphones and tablets, aims to
inform you about the international exchange you are going to carry out. It gathers all the
necessary information in order to learn about NEOMA's partner universities
BS and their countries (campus, rankings, student life, courses and dates, cost of living, transportation.
The functionalities carried out under our control are described on the platform with the most
high precision possible. However, if any errors or omissions could have occurred in
their presentation, our responsibility could not be engaged. We can add or
remove features unilaterally.<p>

<p>When using the Service, you agree to comply with all applicable laws and regulations.
on the French territory and you forbid in particular to :
- Collect more information relative at others users;
- Access the service using automated methods (such as robots, spiders, etc.), except authorization preliminary write from our part ;
- Upload viruses or other malicious code to the service ;
- Accessing or attempting to access another user's account;
- Harm other users or third parties in any way;
- Use the Service for any unlawful, illegal, malicious or discriminatory purpose;
-
Hinder the good operation fromservice.
We undertake to implement all reasonable means at our disposal
to ensure quality access to the service at all times, 24 hours a day, 7 days a week, but
are under no obligation to do so, in particular in the event of a network malfunction,
servers, or any other event beyond its control. We may by
otherwise interrupt, suspend or modify temporarily and without prior notice access to the
service, in particular for security reasons, for the restructuring of resource
machine, for the maintenance or improvement of the platform</p>
</div>








{% endblock %}
